<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Customer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
    <form action="/">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <input type="radio" id="gender" name="gender" required>
        
        <input type="submit" value="Go">
    </form>
    <div class="footer">GWC AI Group</div>
</body>
</html>
